@charset "utf-8";
/* CSS Document */



#login-box-float{
	
	display:none;
	position: absolute;
	top:0px;
	
	
	background:#999;
	border-radius: 0 0 10px 10px;
	
}



.top-space{
	/*background-color: rgb(0, 216, 255);*/
	background-color:#00344A;
	
}
